.table {
	width: 100%;
	border-collapse: collapse;
}

.table th,
.table td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
}

.table th {
	position: relative;
	text-align: right;
}

.table th button {
	margin-left: 10px;
	background: none;
	border: none;
	cursor: pointer;
}

.table th input, .table th select {
	margin-top: 5px;
	width: 100%;
}

.table tr:nth-child(even) {
	background-color: #f9f9f9;
}

.table tr:hover {
	background-color: #eaeaea;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 1001;
}

.modal-close-button {
	cursor: pointer;
	padding: 5px 10px;
	margin: 5px;
	border: none;
	background-color: #777;
	color: white;
	border-radius: 5px;
}

.table-footer{
	margin-top: 12px
}
